@page "/funcionarios/visualizar/{id:int}"
@using BMManagerLN
@using BMManagerLN.SubFuncionarios
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager

<Titulo Nome="Visualizar funcionário" />
@if (funcionario == null) {
    <h4> Wait </h4>
}
else {
    <div class="InformacoesRegisto">
        <div class = "linha">
            <h4>Nome</h4> 
            <div class = "inf">@funcionario.Nome</div>
        </div>
        <div class = "linha">
            <h4>Código</h4>
            <div class = "inf">@funcionario.Codigo_Utilizador</div>
        </div>
        <div class = "linha">
            <h4>Equipa</h4>
            <div class = "inf">@ln.GetDescricao(funcionario.Equipa)</div>
        </div>
        <div class = "linha">
            <h4>Email</h4>
            <div class = "inf">@funcionario.Email</div>
        </div>
        <div class = "linha">
            <h4>Telefone </h4>
            <div class = "inf">@funcionario.Telefone</div>
        </div>
        <div class = "linha">
            <h4>Ativo</h4>
            @if (funcionario.Conta_Ativa == true) {
                <div class = "inf">Sim</div>
            }
            else {
                <div class = "inf">Não</div>
            }
        </div>
        <div class = "esp">
        </div>
        <div class="Botoes">
            <div> </div>
            <Botao Nome="Voltar" Url="funcionarios" />
        </div>
    </div>
}   

@code {
    [Parameter]
    public int Id { get; set; }

    private Funcionario funcionario;
    protected override async Task OnInitializedAsync()
    {
        funcionario = await ln.GetFuncionario(Id); //trocar para método da lógica de negócio
    }
}