@page "/encomendas/visualizar/{id:int}"
@using BMManagerLN.SubMoveis
@using BMManagerLN
@using BMManagerLN.SubEncomendas
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Encomendas,Armazem")]

<Titulo Nome="Visualizar encomenda" />
<div class="Visualizar">
    @if (encomenda == null)
    {
        <p>A carregar montagem ...</p>
    }
    else
    {
        <div class="Montagem">
            <div class="Informacoes">
                <p>Número<span>@encomenda.Numero</span></p>
                <p>Cliente<span>@encomenda.Cliente</span></p>
                <p></p>
                <p>Data Prevista<span>@encomenda.Data_Prevista</span></p>
                <p>Data Real<span>@(encomenda.Data_Real?.ToString("dd/MM/yyyy") ?? "-")</span></p>
                <p>Estado<span>@(encomenda.Concluida ? "Concluída" : "Em progresso")</span></p>
                <p>Móveis</p>
                <div class="CaixaInformacoes">
                    <div class="CaixaUtilizados">
                        <span>Número</span>
                        <span>Nome</span>
                        <span>Quantidade</span>
                        @foreach ((Movel movel, int quantidade) in moveis)
                        {
                            <span>@movel.Numero</span>
                            <span>@movel.Nome</span>
                            <span>@quantidade</span>
                        }
                    </div>
                </div>
                <p>Montagens</p>
                <div class="CaixaInformacoes">
                    <div class="CaixaFuncionarios">
                        <span>Número</span>
                        <span>Nome</span>
                        @foreach ((int id, string nome) in montagens)
                        {
                            <span>@id</span>
                            <span>@nome</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="Botao">
        <Botao Nome="Voltar" Url="encomendas" />
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private Encomenda encomenda;
    private Dictionary<Movel, int> moveis;
    private List<(int, string)> montagens;
    protected override async Task OnInitializedAsync()
    {
        encomenda = await ln.GetEncomenda(Id);
        moveis = await ln.GetMoveisEncomenda(Id);
        montagens = await ln.GetMontagensEncomenda(Id);
    }
}
