@page "/materiais/alterar/{id:int}"
@rendermode InteractiveServer
@using BMManagerLN
@using BMManagerLN.SubMateriais
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Armazem")]

<Titulo Nome="Alterar quantidade de material" />
@if (material == null) {
    <h4> Wait </h4>
}
else {
    <div class="InformacoesRegisto">
        <EditForm Model="@novaQuantidade" OnValidSubmit="@AlterarQuantidadeMaterial" FormName="AlterarQuantidade">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <h4>Quantidade</h4>
                <InputNumber id="quantidade" @bind-Value="@deltaQuantidade" min="0" />
                @if (!string.IsNullOrEmpty(erro))
                {
                    <p>@erro</p>
                }
            </div>
            <div class="linha">
                <select @bind="@opcao">
                    <option value="0">Aumentar</option>
                    <option value="1">Diminuir</option>
                    <option value="2">Alterar</option>
                </select>
            </div>
            <div class="esp">
            </div>
            <div class="Botoes">
                <Botao Nome="Voltar" Url="materiais" />
                <Botao Nome="Alterar" />
            </div>
        </EditForm>
    </div>
}   

@code {
    [Parameter]
    public int Id { get; set; }
    private Material material;
    private int deltaQuantidade;
    private int opcao = 0; //0 aumentar quantidade, 1 diminuir, 2 alterar
    private int novaQuantidade;
    private string erro = null;
    protected override async Task OnInitializedAsync()
    {
        material = await ln.GetMaterial(Id);
    }
    private async Task AlterarQuantidadeMaterial()
    {
        if (opcao == 0){
            novaQuantidade = material.Quantidade + deltaQuantidade;
        }
        else if(opcao == 1){
            if (deltaQuantidade>material.Quantidade){
                deltaQuantidade = 0;
                erro = "Não pode retirar uma quantidade maior do que a existente.";
                return;
            }
            else{
                novaQuantidade = material.Quantidade - deltaQuantidade;
            }
        }
        else{
            if(deltaQuantidade<0){
                deltaQuantidade = 0;
                erro = "A quantidade não pode ser negativa.";
                return;
            }
            else{
                novaQuantidade = deltaQuantidade;
            }
        }
        erro = null;
        await ln.AlterarQuantidadeMaterial(material.Numero, novaQuantidade);
        NavigationManager.NavigateTo("/materiais");
    }
}