@typeparam TItem
@typeparam TItem2
@typeparam TItem3
@using BMManagerLN.SubMoveis
@using BMManagerLN
@inject APIBMManagerLN ln

<div class="Tabela">
    @if (Items == null) {
        <p>A carregar dados ...</p>
    }
    else {
        <table>
            <thead class="TabelaCabecalho">
                <tr>
                    @foreach (string nome in Headers) {
                        <th>@nome</th>
                    }
                </tr>
            </thead>
            <tbody class="TabelaCorpo">
                @foreach (var item in Items)
                {
                    <tr>
                        @foreach (var column in Columns)
                        {
                            var value = @column(item);
                            if (value is Enum) {
                                <td>@(ln.GetDescricao((Enum)value))</td>
                            }
                            else {
                                if (value is ValueTuple<int, int> tuple) {
                                    var etapa = @Funcao1(@Items2,tuple.Item1);
                                    var n_etapas = @Funcao2(@Items3,tuple.Item2);
                                    var r = $"{@etapa}/{@n_etapas}";
                                    <td>@r</td>
                                }
                                else if (value is TimeSpan)
                                {
                                    TimeSpan tempo = (TimeSpan) value;
                                    if (tempo.TotalMinutes > 60)
                                    {
                                        <td>@(tempo.ToString("%h\\h\\ %m\\m") ?? "-")</td>
                                    }
                                    else if (tempo.TotalSeconds > 60)
                                    {
                                        <td>@(tempo.ToString("mm\\m\\ ss\\s") ?? "-")</td>
                                    }
                                    else
                                    {
                                        <td>@(tempo.ToString("ss\\s") ?? "-")</td>
                                    }
                                }
                                else if (value is DateTime)
                                {
                                    <td>@(((DateTime)value).ToString("HH\\h:mm dd/MM/yyyy") ?? "-")</td>
                                }
                                else {
                                    <td>@(value ?? "-")</td>
                                }
                            }
                        }
                        @for (int i = 0; i < Botoes.Count; i++) {
                            var par = Botoes[i];
                            if (Funcao3 == null || Funcao3[item][par.Item1])
                            {
                                var url = $"{@par.Item2}/{Columns[0](item)}";
                                <td><Texto Nome="@par.Item1" Url="@url" /></td>
                            }
                            else
                            {
                                <td><Texto Nome="" /></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {
    [Parameter]
    public List<string> Headers { get; set; } = new List<string>(); // O texto a ser exibido

    [Parameter]
    public List<TItem> Items { get; set; } = new();

    [Parameter]
    public List<Func<TItem, object>> Columns { get; set; } = new();

    [Parameter]
    public List<(string, string)> Botoes { get; set; } = new();

    [Parameter]
    public List<TItem2> Items2 { get; set; } = new();

    [Parameter]
    public List<TItem3> Items3 { get; set; } = new();

    [Parameter]
    public Func<List<TItem2>, int, int> Funcao1 { get; set; }

    [Parameter]
    public Func<List<TItem3>, int, int> Funcao2 { get; set; }

    [Parameter]
    public Dictionary<TItem, Dictionary<string,bool>>? Funcao3 { get; set; }
}
