@typeparam TItem
@typeparam TItem2
@typeparam TItem3
@using BMManagerLN.SubMoveis
@using BMManagerLN
@inject APIBMManagerLN ln

<div class="Tabela">
    @if (Items == null) {
        <p>A carregar dados ...</p>
    }
    else {
        <table>
            <thead class="TabelaCabecalho">
                 <tr>
                    @foreach (string nome in Headers) {
                        <th>@nome</th>
                    }
                </tr>
            </thead>
            <tbody class="TabelaCorpo">
                @foreach (var item in Items)
                {
                    <tr>
                        @foreach (var column in Columns)
                        {
                            var value = @column(item);
                            if (value is Enum) {
                                <td>@(ln.GetDescricao((Enum)value))</td>
                            }
                            else {
                                if (value is ValueTuple<int, int> tuple) {
                                    var etapa = @Funcao1(@Items2,tuple.Item1);
                                    var n_etapas = @Funcao2(@Items3,tuple.Item2);
                                    var r = $"{@etapa}/{@n_etapas}";
                                    <td>@r</td>
                                }
                                else {
                                    <td>@(value ?? "-")</td>
                                }
                            }
                        }
                        @foreach (var par in Botoes) {
                            var url = $"{@par.Item2}/{Columns[0](item)}";
                            <td><Texto Nome="@par.Item1" Url = "@url" /></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
        

@code {
    [Parameter]
    public List<string> Headers { get; set; } = new List<string>(); // O texto a ser exibido

    [Parameter]
    public List<TItem> Items { get; set; } = new();

    [Parameter]
    public List<Func<TItem, object>> Columns { get; set; } = new();

    [Parameter]
    public List<(string, string)> Botoes { get; set; } = new();

    [Parameter]
    public List<TItem2> Items2 { get; set; } = new();

    [Parameter]
    public List<TItem3> Items3 { get; set; } = new();

    [Parameter]
    public Func<List<TItem2>, int, int> Funcao1 { get; set; }

    [Parameter]
    public Func<List<TItem3>, int, int> Funcao2 { get; set; }
}
